@import "tailwindcss";

@theme {
  --color-primary: #4CAF50;
  --color-primary-dark: #388E3C;
  --color-primary-light: #81C784;
  --color-dark: #202124;
  --color-dark-soft: rgba(32, 33, 36, 0.5);
  --color-light-bg: #FDFDFD;
  --color-border: #E9E9E9;
  --color-light-soft: rgba(255, 255, 255, 0.5);
  --font-family-outfit: "Outfit", sans-serif;
}